.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  color: #000;
  margin-right: 10px;
  margin-bottom: 10px;
  p{
    margin-right: 10px;
  }
}

.container [tabcolor="red"] {
  background-color: #ff867f;
}

.container [tabcolor="yellow"] {
  background-color: #ffffcf;
}

.container [tabcolor="fume"] {
  background-color: #212121;
  color: white;
}

.container [tabcolor="blue"] {
  background-color: #bbdefb;
}
.container [tabcolor="silver"] {
  background-color: #eee;
}