.contacts {
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 25px;
  gap: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: var(--c-theme) 0px 0px 15px 3px;
}