.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  // gap: 8px;
  a + a{
    margin-top: 8px;
  }

}

.project {
  background-color: white;
  padding: 10px 15px;
  font-weight: bold;
  box-shadow: var(--c-theme) 0 2px 10px 0;
  cursor: pointer;
  border-radius: 10px;

  h3 {
    color: #000;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: 'Merriweather', serif;
  }

  h4 {
    color: var(--c-detail);
    font-size: 1rem;
    font-weight: 400;
    // font-style: italic;
  }
}

.container {
  div[coloreffect="red"] {
    box-shadow: #d62828 0 5px 15px -5px;
  }

  div[coloreffect="blue"] {
    box-shadow: #003049 0 5px 15px -5px;
  }

  div[coloreffect="orange"] {
    box-shadow: #f77f00 0 5px 15px -5px;
  }

  div[coloreffect="yellow"] {
    box-shadow: #fcbf49 0 5px 15px -5px;
  }
}